.LoginPage {
  width: 100%;
  height: 85vh;
  &::before {
    content: "";
    position: absolute;
    background-image: url(https://p4.wallpaperbetter.com/wallpaper/704/601/250/nature-scenery-images-hd-1920x1080-wallpaper-preview.jpg);
    background-size: cover;
    width: 100%;
    height: 85%;
    opacity: 0.4;
  }
  &-container {
    width: 50%;
    position: relative;
    margin: auto;
    padding-bottom: 2rem;
    top: 10rem;
    &::before {
      content: "";
      position: absolute;
      background-color: var(--secondary-background-color);
      width: 100%;
      height: 100%;
      opacity: 0.8;
      border-radius: 10px;
    }
  }
  &-Info {
    &-Card {
      width: 90%;
      margin: auto;
    }
  }
  &-Form {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &-Input {
      width: 70%;
      margin: .5rem auto;
      input {
        width: 100%;
        height: 2rem;
        background-color: var(--secondary-background-color);
        border-radius: 10px;
        border: var(--main-background-color) 1px solid;
      }
    }
    &-Button {
      width: 80%;
      margin: 1rem auto;
      button {
        width: 100%;
        height: 2rem;
        background-color: var(--main-background-color);
        border: none;
        cursor: pointer;
        color: white;
        font-size: 1rem;
        border-radius: 5px;
      }
    }
    &-Link {
      width: 80%;
      margin: 1rem auto;
      text-align: center;
      a {
        min-width: 3rem;
        color: var(--main-background-color);
        text-decoration: none;
        &:hover {
          font-weight: bold;
        }
      }
    }
  }
}
